.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.image-item {
    position: relative;
    text-align: center;
    color: white;
    height: 150px;
    /* Fixed height for all grid items */
}

.image-item-logo {
    text-align: center;
    height: 150px;
    /* Fixed height for all grid items */
    background-color: #155945;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center content vertically */
}

.image-item-logo img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    /* Maintain aspect ratio */
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensures that the image does not distort */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures that the image covers the container without distortion */
}

.text-year {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FBAB1F;
}