.footer2 {
    background-color: rgba(234, 216, 193, 0.8);
    padding: 10px; /* Espaçamento interno */
    position: fixed;
    bottom: 0;
    left: 0; /* Define o footer no lado esquerdo */
    margin-left: 20px;
    text-align: center;
    display: inline-block; /* Faz o footer se ajustar ao tamanho do conteúdo */
}

.footer-content2 {
    display: flex;
    flex-direction: column; /* Logotipos empilhados verticalmente */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre os logotipos */
}

.footer-image2 {
    width: 100px;
    height: auto;
}