.footer2 {
    background-color: rgba(234, 216, 193, 0.85);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 3%;
    width: auto;
    height: auto;
    text-align: left;
}

.footer-content2 {
    display: flex;
    flex-direction: column; /* imagens em coluna */
    align-items: flex-start; /* alinhadas à esquerda */
    gap: 10px; /* espaço entre imagens */
}

.footer-image2 {
    width: 120px;
    height: auto;
}


/* Responsivo para ecrãs pequenos */
@media screen and (max-width: 600px) {
  .footer-content2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .footer-image2 {
    width: 80px;
  }
}
