.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.two-column-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 1000px;
    margin: 0 ;
    padding-left: 0;
    list-style: none;
}

.text-year-list {
    text-align: left;
    min-width: 100px;
    margin-right: 10px;
}

.text-title-list {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.year-highlight {
    background-color: #FBAB1F;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .two-column-list {
        grid-template-columns: 1fr; /* Lista de uma única coluna em telas pequenas */
    }

    .list-item {
        flex-direction: row; /* Organiza melhor se houver espaço */
        align-items: center;
    }
}
