/* Container principal da navbar */
.navbar-container {
  width: 100%;
}

/* Header com imagem */
.header-image {
  position: relative;
  width: 100%;
}

.header-image img {
  width: 100%;
  height: auto;
}

/* Logo */
.logo {
  position: absolute;
  background-color: #155945;
  bottom: 0;
  left: 61%;
  padding: 10px;
}

.logo img {
  height: 90px;
}

/* Navbar horizontal */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155945;
  font-family: Arial, sans-serif;
  flex-wrap: nowrap;
  padding: 10px 20px;
}

/* Botão hamburguer para mobile */
.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Lista de itens da navbar */
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-item {
  position: relative;
  margin: 0 2em;
  white-space: nowrap;
}

/* Botão principal da navbar */
.navbar-button {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.navbar-button:hover {
  color: #FBAB1F;
}

/* Dropdown oculto por padrão */
.dropdown-menu2 {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border: 1px solid #155945;
}

/* Mostrar dropdown */
.dropdown-menu2.show {
  display: block;
}

/* Itens do dropdown */
.dropdown-item2 {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.dropdown-item2::before {
  content: '>';
  color: black;
  margin-right: 8px;
}

.dropdown-item2:hover {
  color: #078C6B;
}

/* Item ativo */
.navbar-item.active .navbar-button {
  color: #FBAB1F;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: block;
    align-self: flex-start;
    margin-bottom: 10px;
    order: -1; /* coloca o botão no topo e à esquerda */
    margin-left: 0; /* remove qualquer margem indesejada */
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-list.show {
    display: flex;
  }

  .navbar-item {
    margin: 10px 0;
    width: 100%;
  }

  .logo img {
    height: 60px;
  }
}


/* Logo ainda menor em ecrãs muito pequenos */
@media screen and (max-width: 400px) {
  .logo img {
    width: 50% !important;
    height: auto !important;
  }
}
